<div class="card shadow">
    <p class="h4 card-header">User Details</p>
    <div class="card-body bg-light">
        <div class="d-flex align-items-center flex-sm-row flex-column">

            <img class="img-responsive rounded mg-thumbnail d-block userImage" src="..\assets\images\logo.jpg"
                alt="Card image cap">

            <div class="mt-xs-4 ml-sm-3 userP">
                <p>User Name:</p>
                <p>Email:</p>
                <p>Mobile:</p>
                <p>Role:</p>
            </div>
            <div class="mt-xs-4 ml-sm-3 userHead">
                <p>{{user.username}}</p>
                <p>{{user.email}}</p>
                <p>{{user.mobile}}</p>
                <p>{{user.userType}}</p>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-danger ml-2 card-text" (click)="updateDetails(user)">Update Details</button>
        </div>
    </div>